<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Register Client
  body
    div
      h1 Register a client
      form(action="/client/register", method="post")
        input(type="hidden", name="createClient")
        input(type="submit", value="Add New")
      
      div
        each client, index in clients
          div(style="border: 1px solid blue; margin-top: 5px; padding: 10px")
            strong #{index + 1}
            p
              strong ClientID: 
              |#{client.clientId}
            p
              strong Secret: 
              |#{client.clientSecret}
            a(href="/client/edit/" + client.id) Edit
