extends ../includes/scaffold

block title
    title Authentication Server
block innerContent
  h1=name
  p=email
  p=username
  p Here is the available options: 
  div
    a(href="/project/all" class="secondary-button") Projects
    a(href="/dashboard" class="primary-button") Dashboard
