include ./includes/header.pug

block title
    title Authentication Server
block body
  div
    include ./includes/navbar.pug
    h1=name
    p=email
    p=username
    p To see all your projects 
      a(href="/project/all") go here 
