include ./includes/header.pug

block title
    title Authentication Server
block body
    div
      include ./includes/navbar.pug
      h1 Welcome to OAuth2 server.
      p Please 
        a(href="/login") Login
      p New User?
        a(href="/signup") Signup

